body {
    margin: 0;
    background: #eee;
    font-family: Roboto;
  }
  
  a {
    /* this removes the line under our links */
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
  }
  img{
    width: 100%;
    height: auto;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    font-size: 18px;
    color: #E5E7EB;
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #1F2937;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background: #1F2937;
    color: white;
    height: 48px;
    width: 100vw;
  }
  .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #1F2937;
    height: 40vh;
  width: 100vw;
  }
  
  .heroMainText {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
  }

  .heroSubText {
    font-size: 18px;
    color: #E5E7EB;
    margin: 16px 0;
  }
  .headerLogo {
    font-size: 24px;
    color: #F9FAF8;
  }
  .heroImage{
   background-color: grey;
  }

.signUp {
    background: #3882F6;
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    border: none;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
    text-align: center;
    background-color: #E5E7EB;
}

.callToAction{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: #3882F6;
    color: white;
    padding: 32px 16px;
}

.callToActionText{
    display: flex;
    flex-direction: column;
}
