body {
    margin: 0;
    background: #eee;
    font-family: Roboto;
  }
  
  a {
    /* this removes the line under our links */
    text-decoration: none;
    color: white;
  }
  
  ul {
    list-style-type: none;
  }
  
